body {
  background-color: #f9f9f9;
}

#cookieConsent {
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 15%;
  background-color: lightgrey;
  border-radius: 20px;
  padding: 10px 15px 15px 15px;
  font-family: sans-serif;
}

.cookieTitle {
  font-size: 20px;
  font-weight: 700;
}

.cookieText {
  line-height: 1.75rem;
}

#cookieButtons {
  display: flex;
  justify-content: space-between;
}

.primaryButton {
  width: 48%;
  background-color: #4672a7;
  border: 3px solid #4672a7;
  border-radius: 8px;
  height: 40px;
  color: white;
  transition: .5s ease;
}

.primaryButton:hover {
  background-color: transparent;
  color: #4672a7;
}

.secondaryButton {
  width: 48%;
  background-color: transparent;
  border: 3px solid #4672a7;
  border-radius: 8px;
  height: 40px;
  color: #4672a7;
  transition: .5s ease;
}

.secondaryButton:hover {
  background-color: #4672a7;
  color: white;
}
